# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.cer
*.der
*.crt
debug.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# environment variables
.env
.env.*
!.env.example
firebase-service-account.json
google-services.json
GoogleService-Info.plist

app-example

# Firebase Rules
firestore.rules
storage.rules

# Fastlane / CI
fastlane/report.xml
fastlane/screenshots
fastlane/gc_keys.json

# Local Roadmap
FUTURE IMPROVEMENTS.md

# ==================================
# MAXIMUM SECURITY & EDITOR PARANOIA
# ==================================
# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# OS Files
Thumbs.db
desktop.ini

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*

# Extra Secrets (Catch-all)
*.cert
*.crt
*.der
*.p12
*.p8
*.keystore
*.jks
*.mobileprovision
*.orig.*
*.sqlite
*.db
local.properties
firebase-service-account.json
google-services.json
GoogleService-Info.plist
