# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.cer
*.der
*.crt
debug.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# environment variables
.env
.env.*
!.env.example
firebase-service-account.json
google-services.json
GoogleService-Info.plist

app-example

# Firebase Rules
firestore.rules
storage.rules

# Fastlane / CI
fastlane/report.xml
fastlane/screenshots
fastlane/gc_keys.json
